{% extends 'classifier/base.html' %}
{% block content %}
	<h2>After Prediction</h2>

	<div class="row">
			{% for filename in filenames %}
			<div class="col-sm-4">
				<div class="card">
					<img src="media/{{ foldername }}/{{ filename }}" class="card-img-top">
					<div class="card-body">

						<div class="product-info">
							<h6>Long red Shirt</h6>
							<p>$39.90</p>
							<a href="#" class="site-btn btn-line">ADD TO CART</a>
						</div>
					</div>
				</div>
			</div>		
			{% endfor %}			
	</div>

{% endblock content %}
