{% extends 'classifier/base.html' %}
{% block content %}
	<h2>After Prediction</h2>

	{% for li in final_filenames %}
	<div class="row">
			{% for filename in li %}
			<div class="col-sm-3">
				<div class="card">
					<img src="media/{{ foldername }}/{{ filename }}" class="card-img-top">
					<div class="card-body">

						<div class="product-info">
							<h6>Long red Shirt</h6>
							<p>$39.90</p>
						</div>
						<div class="col col-md-9">
                        <div class="form-check">
                            <div class="checkbox">
                                <label for="checkbox1" class="form-check-label ">
                                    <input type="checkbox" id="{{ filename }}" name="checkbox[]" onclick="myFunction(this.id)" value="Drama" class="form-check-input">Change Label
                                </label>
                                <div class="col-8" id="div,{{ filename }}" style="display: none">
                                	<label for="checkbox1" class="form-check-label ">
                                    <input type="radio" id="checkbox1" name="{{filename}}[]" value="Building," class="form-check-input">Building
                                	</label>
                                	<label for="checkbox1" class="form-check-label ">
                                    <input type="radio" id="checkbox1" name="{{filename}}[]" value="Glacier," class="form-check-input">Glacier
                                	</label>
                                	<label for="checkbox1" class="form-check-label ">
                                    <input type="radio" id="checkbox1" name="{{filename}}[]" value="Sea," class="form-check-input">Sea
                                	</label>
                                	<label for="checkbox1" class="form-check-label ">
                                    <input type="radio" id="checkbox1" name="{{filename}}[]" value="Forest," class="form-check-input">Forest
                                	</label>
                                </div>
                            </div>
						</div>
					</div>
				</div>
			</div>	
			</div>	
			{% endfor %}	
	</div>
	<br><br>
	{% endfor %}
	<div class="form-group">
			<button class="btn btn-outline-info" type="submit">Retrain and Predict</button>
	</div>

	<script type="text/javascript">
        function myFunction(id) {
            console.log(id)
          var y = document.getElementById(id)
          var x = document.getElementById("div"+","+id);
          console.log(x,y)
          if(y.checked==true) {
            x.style.display = "block";
          } else {
            x.style.display = "none";
          }
        } 
    </script>

{% endblock content %}
